MONGO_URI=""

PORT=""

HASHED_MAC_SECRET=""
SALT_ROUNDS=""

ACCESS_TOKEN_SECRET=""
ACCESS_TOKEN_EXPIRY=""
REFRESH_TOKEN_SECRET=""
REFRESH_TOKEN_EXPIRY=""

SUPER_ADMIN_NAME=""
SUPER_ADMIN_PHONE_NUMBER=""
SUPER_ADMIN_EMAIL=""
SUPER_ADMIN_PASSWORD_HASH=""

IMAGEKIT_PUBLIC_KEY=""
IMAGEKIT_PRIVATE_KEY=""
IMAGEKIT_URL_ENDPOINT=""

MAILTRAP_HOST=""
MAILTRAP_USERNAME=""
MAILTRAP_PASSWORD=""
MAILTRAP_PORT=""

MARKETLY_EMAIL=""

RAZORPAY_KEY_ID=""
RAZORPAY_KEY_SECRET=""
RAZORPAY_WEBHOOK_SECRET=""

STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET_CONNECT=""
STRIPE_WEBHOOK_SECRET_PLATFORM=""

REDIS_URI=""

REDIS_KEY_HASH=""