@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
    --color-dark-green: #073030;
    --color-green: #0a5052;
    --color-light-green: #e8eeee;
    --color-dark: #0d0c0f;
    --color-orange: #ff9127;
    --color-base-white: #f6f6f6;
    --shadow-base:
        0px 2px 3px -1px rgba(0, 0, 0, 0.1),
        0px 1px 0px 0px rgba(25, 28, 33, 0.02),
        0px 0px 0px 1px rgba(25, 28, 33, 0.08);

    --font-inter: "Inter";
    --font-roboto: "Roboto";

    --radius-base: 8px;

    --breakpoint-md-plus: 1160px;
    --breakpoint-sm-440: 440px;
}

@layer utilities {
    .no-spinner::-webkit-outer-spin-button,
    .no-spinner::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .no-spinner {
        -moz-appearance: textfield;
    }
}
